@font-face {
	font-family: 'FontOne';
	src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
	font-family: 'FontOne';
	background-color: white;
	font-size: 18;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;

}
.left-col {
	padding: 52px 30px;
    background-image: linear-gradient(to top ,hsl(241, 81%, 54%), hsl(252, 100%, 67%) );
	text-align: center;
	border-radius: 30px;

}
.left-col .title{
    color:  hsl(241, 100%, 89%);
	padding: 20px 0;
	font-size: 1.2rem;
}
.left-col .score {
	background-image: linear-gradient(to top,hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
	width: 120px;
	margin: auto;
	height: 120px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: hsl(0, 0%, 100%);
	font-family: 'FontExtraBold';
	font-size: 2.5rem;
}
.left-col .score small{
	color:  hsl(241, 100%, 89%);
	font-size: .9rem;
}
.left-col .great {
	display: block;
	color: hsl(0, 0%, 100%);
	font-size: 1.5rem;
	font-family: 'hankBold';
	margin: 20px 0 5px;

}
.left-col .desc {
	padding: 0 20px 40px;
	width: 80%;
	margin: auto;
	color:  hsl(241, 100%, 89%);
}


.right-col {
	padding: 20px 30px;

}
.right-col .title {
	color:  hsl(224, 30%, 27%);
	font-size: 1.1rem;
	font-family: 'FontOne';
	font-weight: 700;
	padding: 20px;
}
.right-col .box {
	margin: 15px 0;
	display: flex;
	justify-content: space-between;
	padding: 15px;
	font-family: 'hankBold';
}
.right-col .box:nth-child(2) {
	background: hsla(0, 100%, 67%, 0.081);
	border-radius: 5px;
}
.right-col .box:nth-child(3) {
	background: hsla(39, 100%, 56%, 0.112);
	border-radius: 5px;
}
.right-col .box:nth-child(4) {
	background: hsla(166, 100%, 37%, 0.056);
	border-radius: 5px;
}
.right-col .box:nth-child(5) {
	background:  hsla(234, 85%, 45%, 0.08);
	border-radius: 5px;
	margin-bottom: 20px;
}
.right-col .box-skill {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.right-col .box-skill img {
	margin-right: 10px;
}
.right-col .box-points {
	display: flex;
	justify-content: flex-end;
}
.right-col .box-points .total {
	color: hsl(241, 100%, 89%);
	margin-left: 10px;
}
.right-col .box .reaction {
	color:  hsl(0, 100%, 67%);
}
.right-col .box .memory {
	color:  hsl(39, 100%, 56%);
}
.right-col .box .verbal {
	color: hsl(166, 100%, 37%);
}
.right-col .box .visual {
	color:  hsl(234, 85%, 45%);
}
.right-col #btn {
	width: 100%;
	padding: 15px;
	border-radius: 40px;
	border: none;
	background-color: hsl(224, 30%, 27%);
	color: white;
	font-family: 'mediumFont';
	font-size: 1rem;
	cursor: pointer;
}
.right-col #btn:hover {
	background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

footer{
	position: absolute;
	bottom: 0;
}

@media screen and (min-width: 992px) {
	body {
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	main {
		display: flex;
		max-width: 600px;
		box-shadow: 0px 0px 11px 1px hsl(241, 100%, 89%);
		border-radius: 20px;
	}
	.left-col {
		border-radius: 20px;
		width: calc(100% / 2);
	}
	.left-col .title {
		margin-top: 20px;
	}
	.left-col .points {
		width: 140px;
		height: 140px;
	}
	.left-col  .desc {
		padding: 0 5px;
	}
	.right-col {
		
		border-bottom-right-radius: 20px;
		border-top-right-radius: 20px;
		width: calc(100% / 2);
	}
	.right-col .title {
		color:  hsl(224, 30%, 27%);
		font-family: 'FontOne';
	}
}